@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common part style */
.body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.margin-bottom{
    margin-bottom: 100px;
}

.image-slider{
    min-height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.438);
    background-blend-mode: overlay;
}

/* navbar height style */
.navbar-height{
    height: 80px;
}

/* top margin of carousel */
.image-slider-margin{
    margin-top: 340px;
}
